body
{
	background-color:#eaeaea;
	width: 800px;
	margin: auto;
	font-family: "Montserrat";
color: grey;
}

.subbody
{
  background-color:#EDF7F2
  border-radius: 3px;
	box-shadow: 2px 2px 5px 1px grey;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 25px;
	font-size: 14px;
	line-height: 22px;
  text-align: justify;
}

.social
{
	display: inline-block;
	background-color: white;
	border-radius: 3px;
	box-shadow: 2px 2px 5px 1px grey;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 20px;
	font-size: 13px;
	line-height: 22px;
	text-align: center;

}
.socialbut
{
	display: inline-block;
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	color: #ffffff;
	font-size: 17px;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	text-shadow: 0px 0px 2px white;
}

.movies
{
	background-color: white;
	border-radius: 3px;
	box-shadow: 2px 2px 5px 1px grey;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 20px;
}

.button
{
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	color: #ffffff;
	font-size: 17px;
	background: #d93434;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	width: 40%;
	margin-left: 160px;
text-shadow: 0px 0px 2px white;
